.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


.wpopt-wrap {
    margin: 10px 20px 0 2px;
}

.wpopt-wrap .wpopt-container {
    -webkit-box-shadow: 0 2px 10px 0 #D4D4D4;
    box-shadow: 0 2px 10px 0 #D4D4D4;
}

.wpopt-wrap .wpopt-header {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    padding: 10px 0;
    background-color: #008bc5;
}

.wpopt-wrap .wpopt-header .wpopt-heading {
    display: block;
    width: auto;
    height: auto;
    float: left;
    margin: 0 0 0 20px;
    font-size: 16px;
    font-weight: normal;
    color: #e3e3e3;
}

.wpopt-wrap .wpopt-header .wpopt-autor {
    display: block;
    width: auto;
    height: auto;
    float: right;
    margin: 0 20px 0 0;
    text-align: right;
    color: #e3e3e3;
}

.wpopt-wrap .wpopt-content {
    background-color: #ffffff;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu {
    display: block;
    width: 20%;
    height: auto;
    float: left;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav {
    margin: 0;
    background-color: #008bc5;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav li {
    display: block;
    margin: 0;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav li a {
    display: block;
    color: #e3e3e3;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav li a:hover {
    color: #23282D;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav li.active a {
    background-color: #0075a0;
    color: #23282d;
}

.wpopt-wrap .wpopt-content .wpopt-content-navmenu .wpopt-nav li.active a:hover {
    color: #23282D;
}

.wpopt-wrap .wpopt-content .wpopt-main-content {
    display: block;
    width: 79.97%;
    height: auto;
    float: right;
}

/*
* Default WPOpt styles that will load for meta boxes in admin area.
*/

.postbox .inside:before,
.postbox .inside:after {
    content: "";
    display: table;
}

.postbox .inside:after {
    clear: both;
}

.postbox .inside {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.postbox .inside:after {
    content: "";
    display: table;
    clear: both;
}

.postbox .inside .wpopt-label {
    display: block;
    margin: 20px 0 0 0;
}

.postbox .inside .wpopt-text-block {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
}

.postbox .inside .wpopt-textarea-block {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
}

.postbox .inside .wpopt-textarea {
    display: block;
    width: 60%;
    margin: 20px 0 0 0;
    float: left;
}

.postbox .inside .wpopt-description {
    display: block;
    width: 39.95%;
    margin: 20px 0 0 0;
    float: right;
}

.postbox .inside .wpopt-description p {
    padding: 0 0 0 20px;
    margin: 0;
    font-style: italic;
}

